* {
  box-sizing: border-box;
}
body {
  font-family: Montserrat, sans-serif;
  background-color: #333944;
  color: #e2dfd4;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.words-repository,
.sentence {
  width: calc(50% - 20px);
  height: 200px;
  border: 3px dashed #e6e8d3;
  padding: 10px;
  overflow-y: auto;
}
.words-boxes .words-repository {
  margin-right: 20px;
  padding-top: 5px;
  padding-right: 5px;
}
.words-boxes li {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 5px;
  text-align: center;
  padding: 5px 10px;
  background-color: #e2dfd4;
  color: #000;
  margin-left: 4px;
}
.words-boxes {
  height: 200px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.info {
  width: 400px;
  margin: 0 auto;
  border: 1px solid #e6e8d3;
  border-right: none;
  border-bottom: none;
  font-size: 0.8rem;
}
.info > ul {
  display: flex;
  flex-wrap: wrap;
}
.info > ul > li {
  width: 33.33333%;
  padding: 10px;
  border-right: 1px solid #e6e8d3;
  border-bottom: 1px solid #e6e8d3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info > ul > li:last-child {
  width: 100%;
}
.info > ul > li span,
.info > ul > li ul {
  margin-top: 10px;
  font-size: 1rem;
}
.form-words {
  display: flex;
  width: 640px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.form-words__word,
.form-words__occurrences {
  height: 30px;
  padding: 0 5px;
}
.form-words label {
  font-size: 0.8rem;
}
.form-words label,
.form-words__programming-language input[type="checkbox"] {
  vertical-align: middle;
}
.form-words__button {
  height: 30px;
  background-color: #e6e8d3;
  border: none;
  padding: 5px 10px;
}
.form-words__button:disabled {
  opacity: 0.2;
}
